<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.lovehome">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:name=".LoveHomeApplication"
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity" />
        <activity android:name=".activity.LoadActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.GuidePageActivity" />
        <activity android:name=".activity.LoginActivity" />
        <activity android:name=".activity.myview.MyIssue" />
        <activity android:name=".activity.myview.MyManuscript" />
        <activity android:name=".activity.myview.MyCollect" />
        <activity android:name=".activity.myview.MyInformation" />
        <activity android:name=".activity.myview.PlatformStatement" />
        <activity android:name=".activity.myview.RegardingLoveHometown" />
        <activity android:name=".activity.myview.AlterPassword" />
        <activity android:name=".activity.myview.Issue"></activity>
    </application>

</manifest>